/.codex
/dataset
*.env
/results
/cache
/local_storage/flat_files
/local_storage/vector_indexes
__pycache__/
/models
legacy_evals/
yolov8n.pt
yolo11n.pt
.pytest_cache/
.ruff_cache/
/cache
/tests
tests/
/pretrained
thirdparty/*
/.cache
docs/
